mysql:
  adapter: mysql2
  host: localhost
  database: enum_test
  username: enum_test
  password: enum_test
  supports_enums: true
sqlite:
  adapter: sqlite3
  database: ":memory:"
  supports_enums: false
